<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Course</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(ingredient, i) in ingredients">{{ ingredient }} ({{ i }})</li>
        </ul>

        <hr/>

        <ul>
            <li v-for="person in persons">
                <div v-for="(value, key, index) in person">{{ key }}: {{ value }} ({{ index }})</div>
            </li>
        </ul>
    </div>

    <div id="scripts">
        <script type="text/javascript">
            new Vue({
                el: '#app',
                data: {
                    ingredients: ['meat', 'fruit', 'cookies'],
                    persons: [
                        {name: 'Max', age: 27, color: 'red'},
                        {name: 'Anna', age: 'unknown', color: 'blue'}
                    ]
                }
            });
        </script>
    </div>
</body>
</html>